body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #020b10;
  color: #fff;
  /* background: url(images/background-wave.jpg);background-size: contain; background-position: top; background-repeat: no-repeat; */

}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  max-width: 1100px;
  margin: auto;
  position: absolute;
  right: 0; left: 0;
  z-index: 10;
}
.navbar .logo img {
    width: 200px;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
}

/* HERO */
.hero {
  height: 100vh;
  max-width: 1100px;
  margin: auto;
  /* background: linear-gradient(to bottom, rgba(0,0,0,.6), rgba(0,0,0,.9)),
              url('images/background-wave.jpg') center/cover no-repeat; */
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  color: #fff;
  font-size: 1.5rem;
}

.security-features {
  background: url(images/background-wave.jpg);background-size: cover; background-position: top; background-repeat: no-repeat;
}

/* .security-features::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('images/background-dots.png') center/cover no-repeat;
  opacity: 0.2;
  z-index: 0;
}

.security-features > * {
  position: relative;
  z-index: 1;
} */

/* SECTIONS */
.section {
  padding: 100px 30px;
  max-width: 1100px;
  margin: auto;
}
.section h2 {
    font-size: 3rem;
}

.split {
  display: flex;
  gap: 60px;
}

.split .left,
.split .right {
  flex: 1;
}
.stats img {
    display: block;
    margin:auto;
}

.highlight {
  color: #00e0ff;
}

/* CENTER */
.center {
  text-align: center;
}

/* STATS */
.stats {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  max-width: 1100px;
  margin: auto;
}
.stats img {
    width: 100%;
}

.card {
  background: rgba(0,255,255,0.1);
  padding: 30px;
  border-radius: 12px;
  width: 150px;
  backdrop-filter: blur(10px);
}

.card h3 {
  font-size: 36px;
  margin: 0;
}

/* CTA */
.cta {
    max-width: 1100px;
    margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 30px;
  border-top: 1px solid rgba(255,255,255,0.1);
}

.cta button {
  background: #00cfe8;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

/* FOOTER */
.footer-image {

}
.footer {
    /* background: url(images/footer.png);
    background-position: top; */
    /* height: 50vh; */
  
    padding: 100px 30px 100px;
    background: #549FC3;
    background: linear-gradient(180deg, rgba(84, 159, 195, 0) 0%, rgba(84, 159, 195, 0.57) 20%, rgba(58, 96, 153, 1) 100%);
}
.footer a {
    text-decoration: none;
}
.footer-wrapper {
    max-width: 1100px;
    margin: auto;
    display: flex; flex-direction: row;
    justify-content: space-between; align-items: center;;
}
.footer .logo {
    width: 20%;
}
.footer img {
    max-width: 100%;
}

.footer nav a {
   width: 80%;
  margin: 0 0 0 20px;
  color: #fff;
  font-size: 14px;
  flex-direction: row;;
}